@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<h2>Users</h2>

<table>
    <tr>
        <td>David</td>
        <td>Admin</td>
    </tr>
    <tr>
        <td>Yusuf</td>
        <td>Admin</td>
    </tr>

</table>