@{
    ViewBag.Title = "Users";
    Layout = "_Layout";
}

<h2>Users</h2>

<table>
    <tr>
        <th>Full name</th>
        <th>Role</th>
        <th>Email address</th>
    </tr>
    <tr>
        <td>David Flagg</td>
        <td>User</td>
        <td>david.flagg@gmail.com</td>
    </tr>
    <tr>
        <td>Yusuf Naheem</td>
        <td>Admin</td>
        <td>yusufnaheem1@gmail.com</td>
    </tr>

</table>